ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

#first ul {
    float: right;
}

#first ul li {
    display: inline-block;
    padding: 0 5px;
    /* width: 30px;
    text-align: center; */
}

#first ul li.label {
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
}

#first ul li.profile img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

#second {
    padding-top: 200px;
    text-align: center;
}

#third {
    text-align: center;
    position: relative;
    width: 500px;
    margin: 0 auto;
}

#third input {
    width: 500px;
    margin-top: 30px;
    height: 30px;
    border: #cccccc 1px solid;
    border-bottom: #999999 solid 1px;
    box-shadow: 0 2px #bbbbbb;
}

#third ul {
    position: absolute;
    top: 36px;
    right: 10px;
}

#third ul li {
    display: inline-block;
    padding: 0 5px;
}

#fourth {
    text-align: center;
    padding-top: 30px;
}

#fourth button {
    border: 0;
    border-radius: 3px;
    background-color: #eeeeee;
    color: #666666;
    font-weight: bold;
    height: 35px;
    padding: 10px;
}

#fifth {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #eeeeee;
    margin: 0;
    border: solid 1px #cccccc;
    height: 100px;
    width: 100%;
}

#fifth ul {
    border: solid 1px #cccccc;
}

#fifth ul li {
    display: inline-block;
    /* padding: 0 10px; */
}

#fifth ul.firstc {
    float: left;
}

#fifth ul.secondc {
    padding-left: 75%;
}
 
#fifth ul.firstc li {
    display: inline-block;
    padding-right: 10px;
}

#fifth ul.secondc li {
    display: inline-block;
    padding-left: 10px;
}